apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: my-web-app-rollout
spec:
  replicas: 2 
  strategy:
    blueGreen: 
      activeService: my-web-app-active 
      previewService: my-web-app-preview 
      autoPromotionEnabled: false 
  selector:
    matchLabels:
      app: my-web-app
  template:
    metadata:
      labels:
        app: my-web-app
    spec:
      containers:
      - name: my-web-app
        image: acr2020305085.azurecr.io/my-web-app:v2 
        ports:
        - containerPort: 80