apiVersion: v1
kind: Service
metadata:
  name: my-web-app-active
spec:
  type: ClusterIP
  selector:
    app: my-web-app
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: my-web-app-preview
spec:
  type: ClusterIP
  selector:
    app: my-web-app
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80